body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 1200px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin: 0 auto;
  min-width: 1024px;
}

@media (min-width: 1024px) {
  .container {
    padding: 12px 100px;
    /* max-width: 1400px; */
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 12px 40px;
    /* max-width: 1024px; */
  }
}

@media (max-width: 768px) {
  .container {
    padding: 12px 20px;
    /* max-width: 768px; */
  }
}
